@import 'font.css' ;

html,
body {
  padding: 0;
  margin: 0;
  font-family: dana , sans-serif;
  background: #f5f6fa;;
}
body{
  width:100%;
  display: flex;
}
div#__next{
  flex: 1 1 100%;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.container{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.icon{
  object-fit: contain;
}

.col{
  flex-basis: 0;
}
@media (max-width: 1200px) {
  .col{
    flex: 50% !important;
    max-width: 50% !important;
  }
}

@media (max-width: 600px) {
  .col {
    flex: 100% !important;
    max-width: 100% !important;
  }
}

/*searchbox*/
@-webkit-keyframes spincube {
  from,to  { -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);}
  15%      { -webkit-transform: rotateX(120deg);}
  30%      { -webkit-transform: rotateX(120deg);}
  45%      { -webkit-transform: rotateX(240deg);}
  60%      { -webkit-transform: rotateX(240deg);}
  75%      { -webkit-transform: rotateX(360deg);}
  100%      { -webkit-transform: rotateX(360deg);}
}
@keyframes spincube {
  from, to {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  15% {
    -webkit-transform: rotateX(120deg);
    -moz-transform: rotateX(120deg);
    -ms-transform: rotateX(120deg);
    transform: rotateX(120deg);
  }
  30% {
    -webkit-transform: rotateX(120deg);
    -moz-transform: rotateX(120deg);
    -ms-transform: rotateX(120deg);
    transform: rotateX(120deg);
  }
  45% {
    -webkit-transform: rotateX(240deg);
    -moz-transform: rotateX(240deg);
    -ms-transform: rotateX(240deg);
    transform: rotateX(240deg);
  }
  60% {
    -webkit-transform: rotateX(240deg);
    -moz-transform: rotateX(240deg);
    -ms-transform: rotateX(240deg);
    transform: rotateX(240deg);
  }
  75% {
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }
  100% {
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }
}
/* Hide scrollbar for Chrome, Safari and Opera */
.scroll-d-none::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll-d-none {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
