@import 'font.css' ;

html,
body {
  padding: 0;
  margin: 0;
  font-family: dana , sans-serif;
}
body{
  width:100%;
  display: flex;
}
div#__next{
  flex: 1 1 100%;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.container{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.icon{
  object-fit: contain;
}
.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.col{
  flex-basis: 0;
}
@media (max-width: 1200px) {
  .col{
    flex: 50% !important;
    max-width: 50% !important;
  }
}

@media (max-width: 600px) {
  .col {
    flex: 100% !important;
    max-width: 100% !important;
  }
}